*.class

*.jar
*.war
*.ear

*.log
logs/

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar

.gradle/
build/
.settings/
*.iml
*.ipr
*.iws

.idea/
*.iml
*.ipr
*.iws
out/

.project
.classpath
.settings/
bin/

.vscode/

.DS_Store
Thumbs.db
Desktop.ini

*~
#*#
.#*
.fuse_hidden*
.nfs*

config/application-local.properties
.env
